html {
    scroll-behavior: smooth;


}



a {
    text-decoration: none;
    color: grey;


}


#a .a div {
    float: right;
    padding-right: 80px;
}

button {
    background-color: white;

}

.a button a {
    color: white;
}

 .a button {
    background-color: #03b0db;
    font-size: x-large;
    box-shadow: 0 8px 28px rgb(22 223 126 / 45%);
    transition: .5s;
    border-radius: 4px;
    padding: 8px 30px 10px 30px;
    
}
.a {

    display: flex;
    text-align: right;
    flex-direction: row-reverse;


}
.a div img{
    animation: MoveUpDown 2s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;
}
@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 50px;
    }
  }


#clear {
    clear: both;
    width: 100%;
}

#nav-bar .active {
    color: #01b8dc;

}

#nav-bar {
    position: fixed;
    display: flex;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    padding: 12px 0;
    width: 100%;
}



#nav-bar ul {

    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;

}

#nav-bar .logo {
    color: gray;
    font-size: xx-large;
    font-weight: 700;

    padding-right: 80px;
    font-family: Raleway, sans-serif;
    display: flex;

}

#nav-bar .logo :first-child {
    color: orange
}

#nav-bar .logo :last-child {
    color: #03b0db;
}

.a p {
    text-align: right;
    font-family: Raleway, sans-serif;
    color: grey;
    font-size: larger;
    padding-right: 100px;

}

.aaa {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;


}

.ac {
    color: grey;
    background-color: #f9f9fa;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: larger;

    margin-left: 20px;

}

.ad {
    color: grey;
    background-color: #f9f9fa;
    font-size: larger;
    padding-top: 5%;
    padding-bottom: 5%
}

h2 {

    text-align: right;
    font-family: Raleway, sans-serif;
    color: black;
    font-weight: 1000;
    font-size: xx-large;
    padding-right: 100px;
    padding-top: 30px;


}

.icon i {
    color: #01b8dc;
    font-size: 36px;
}

#c {
    padding-top: 10%;
    text-align: right;
    display: flex;
    font-size: x-large;
    color: gray;


}

.icon {
    height: 100px;
}

.con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;



}

#d {
    background-color: #f9f9fa;
    padding-left: 50px;
    padding-right: 50px;
}

.con div {
    background-color: white;
    width: 15%;
    height: 50px;
    margin-top: 50px;
    padding-bottom: 5%;
    text-align: center;
    padding-top: 5%;
    color: grey;
    font-size: larger;
    font-weight: 1000;

}

.hd {
    text-align: center;
    padding-top: 10%;
    font-size: large;
    color: grey;

}

form {
    text-align: right;

}

fieldset{
    border-top: #01b8dc;
    border-width: 3px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}
   

.form {
    width: 50%;
    border-color: #01b8dc;
    border-width: 3px;
    
    border-left: 0px;
    border-right: 0px;
    background-color: rgb(249, 249, 250);
    margin-right: 10px;

    border-style: solid;
}

input {
    width: 80%;

}

#f .fa {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;


}
 .row {
    width: 50%;
    text-align: right;
    border-color: #01b8dc;
    border-style: solid;
    border-width: 3px;
    
    border-left: 0px;
    border-right: 0px;
    background-color: rgb(249, 249, 250);
    margin-left: 10px;


}
img {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;

}
.row div{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
}
.bottom{
    background-color: #f9f9fa;
    height: 260px;
    text-align: center;
    padding-top: 100px;
    margin-top: 100px;
    font-size: xx-large;
    color: #5f687b;
    font-weight: bolder;
    font-family: Raleway, sans-serif;
}
.footer{
    border-top: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
}
@media(max-width:920px){
    #nav-bar {
        position: relative;
       
    }
    #nav-bar ul { display:block;}
    .a {
        width: 100%;
        display: inline-block;
        text-align: center;
        padding-right: 0px;
        
    }
    .a p{font-size: default;
        padding-right: 0px;

    }
    .a div img {
        display: inline-block;
        width: 100%;
        
    }
    .aaa {
        display: block;
    }
    #c {
        display: block;
        font-size: default;}
        img {
            width: 100%;}

            .con div {
                width: -webkit-fill-available;
                height: inherit;
            }
            #f .fa {display: block;}
            .form{
                width:100%;
            }
            .row{
                width:100%;
            }


        
    }
